<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div *ngIf="!isEmailSent">
                    <form [formGroup]="forgotPasswordForm">
                        <div class="form-group">
                            <label for="email">Email : </label>
                            <input type="text" name="email" class="form-control" formControlName="email"
                                placeholder="Email">
                            <div class="form-text text-danger" *ngIf="email.touched && email.errors?.['required']">
                                Email is required
                            </div>
                            <div class="form-text text-danger" *ngIf="email.errors?.['email']">
                                Email is invalid
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-my" [disabled]="forgotPasswordForm.invalid"
                                (click)="submit()" value="Submit">
                        </div>
                    </form>
                    <div class="text-center submit">
                        Need to Login ? <a routerLink="/login">Login</a> here
                    </div>
                </div>
                <div class="text-center submit" *ngIf="isEmailSent">
                    Check the email {{email.value}} to reset the password
                </div>
            </div>
        </div>
    </div>
</div>