<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <form [formGroup]="resetPasswordForm">
                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" name="password" class="form-control" placeholder="********" formControlName="password">
                        <div class="form-text text-danger" *ngIf="password.touched && password.errors?.['required']">
                          Password is required
                        </div>
                        <div class="form-text text-danger" *ngIf="password.errors?.['minlength']">
                          Password must have minimum 8 characters
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="c_password">Confirm Password : </label>
                        <input type="password" name="c_password" class="form-control" placeholder="********"formControlName="confirmedPassword">
                        <div class="form-text text-danger" *ngIf="confirmedPassword.touched && confirmedPassword.errors?.['required']">
                          Confirmed Password is required
                        </div>
                        <div class="form-text text-danger" [ngStyle]="{'display': confirmedPass}">
                          Password is mismatched
                        </div>
                      </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-my" [disabled]="resetPasswordForm.invalid" (click)="submit()"
                            value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>